.navLinks {
  list-style: none;
}

.navLinks li {
  display: inline-block;
  margin: 20px 0 20px 50px;
}

.navLinks li a {
  color: var(--Off-White);
  font-size: 18px;
  text-decoration: none;
}

.navLinks li a:hover {
  text-decoration: underline;
}

@media (max-width: 375px) {
  .logo {
    width: 80px;
  }
  .padding {
    padding: 20px 5%;
  }
  .navLinks li {
    margin: 20px 0 20px 20px;
  }

  .navLinks li a {
    font-size: 16px;
  }
}
