.f-container {
  background-color: var(--Dark-Blue-footer);
  color: var(--White);
}

.flogo {
  width: 150px;
  margin: 150px 25px 25px;
}

.ft-links {
  display: flex;
  justify-content: space-between;
}

.left-footer {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.left-footer div a {
  text-decoration: none;
  color: var(--White);
  display: flex;
  align-items: flex-start;
  font-size: 12px;
  margin-bottom: 20px;
}

.left-footer div a img {
  margin-right: 20px;
}

.right-footer {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
}

.right-footer ul li {
  list-style: none;
}

.right-footer ul li a {
  text-decoration: none;
  color: var(--White);
  font-size: 12px;
}

.address {
  display: flex;
  max-width: 300px;
  align-items: flex-start;
}

.address img {
  margin-right: 10px;
  margin-top: 3px;
}

.left-footer > :nth-child(2) {
  display: block;
  text-align: right;
  margin: 0 30px;
}

.socials {
  display: flex;
}

.socials span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--White);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

@media (max-width: 375px) {
  .f-container.padding {
    padding-bottom: 50px;
  }

  .flogo {
    width: 150px;
    margin: 200px 0px 30px;
  }
  .address {
    font-size: 13px;
    margin-left: 0px;
    max-width: 300px;
  }

  .ft-links {
    display: flex;
    flex-direction: column;
  }

  .left-footer {
    flex-direction: column;
    margin-right: 0;
  }

  .left-footer > :nth-child(2) {
    margin: 20px 0;
  }

  .right-footer {
    flex-direction: column;
    margin-left: 0px;
  }

  .right-footer ul {
    margin-bottom: 20px;
  }

  .right-footer ul li {
    margin-bottom: 15px;
  }
  .right-footer ul li a {
    font-size: 14px;
  }

  .socials {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }
}
